<div
  class="
    flex flex-col
    w-[300px]
    h-[450px]
    bg-[#FFB13A]
    absolute
    transform
    transition
    duration-200
  "
>
  <div class="flex w-full h-full items-center justify-between px-5">
    <% for(let i=0; i< 5; i++){ %>
    <div class="w-[6px] h-full bg-main-green"></div>
    <% } %>
  </div>
</div>
