<div
  class="
    flex flex-col
    w-[180px]
    h-[180px]
    bg-secondary-green
    absolute
    rounded-full
    bottom-0
    right-0
    overflow-hidden
    transform
    transition
    duration-200
  "
>
  <div class="flex w-full h-full justify-between px-5 flex-col">
    <% for(let i=0; i< 10; i++){ %>
    <div class="w-full h-[3px] bg-yellow-500"></div>
    <% } %>
  </div>
</div>
