<button
  class="
    flex
    items-center
    text-gray-50
    bg-[<%= color %>]
    px-6
    py-3
    rounded-full
    cursor-pointer
    transform
    transition
    duration-200
    absolute
    left-14
    hover:bg-opacity-90
    <%= top %>
  "
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-4 w-4"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M19 11a7 7 0 01-7 7m0 0a7 7 0 01-7-7m7 7v4m0 0H8m4 0h4m-4-8a3 3 0 01-3-3V5a3 3 0 116 0v6a3 3 0 01-3 3z"
    />
  </svg>
  <span class="font-bold ml-1"><%= title %></span>
</button>
