<header class="w-full bg-transparent">
	<nav class="container mx-auto flex items-center justify-between text-gray-50">
		<ul class="flex items-center">
			<li>
				<a href="/">
					<img src="" alt="main-logo" />
				</a>
			</li>
			<li><a href="/features">Features</a></li>
			<li><a href="/pricing">Pricing</a></li>
			<li><a href="/resources">Resources</a></li>
			<li><a href="/blog">Blog</a></li>
		</ul>
		<a href="/signup" class="text-secondary-yellow px-5 py-4 rounded-md border border-secondary-yellow">Sign Up</a>
	</nav>
</header>
