<header class="w-full fixed top-0 left-0 right-0 bg-main-green z-30">
  <nav
    class="
      container
      mx-auto
      flex
      items-center
      justify-between
      text-gray-50
      font-Aventra
      py-8
    "
  >
    <ul class="flex items-center">
      <li>
        <a href="/">
          <h1 class="text-gray-50 text-2xl font-black">
            B<span class="text-yellow-500">A</span>
          </h1>
        </a>
      </li>
      <li class="ml-5"><a href="/features">Features</a></li>
      <li class="ml-5"><a href="/pricing">Pricing</a></li>
      <li class="ml-5"><a href="/resources">Resources</a></li>
      <li class="ml-5"><a href="/blog">Blog</a></li>
    </ul>
    <a
      href="/signup"
      class="
        text-secondary-yellow
        px-6
        py-3
        rounded-lg
        border border-secondary-yellow
        transform
        transition
        duration-200
        hover:bg-secondary-yellow hover:text-main-green
      "
      >Sign Up</a
    >
  </nav>
</header>
