<section class="podcasts-play bg-black py-10 font-Aventra w-full relative">
	<div class="container mx-auto">
		<div class="w-3/5">
			<h1 class="text-6xl text-gray-100 font-black mb-3">Let's know other people podcast practices.</h1>
			<p class="text-gray-200 font-thin">People learn so fast, thrive their daily life and push their limits. So, growth is potential.</p>
		</div>
		<div class="w-full mt-14 flex relative h-[650px]">
			<div class="absolute z-10 w-full top-0 left-0 right-0 flex items-center justify-center">
				<%- include('./components/photo-card') %>
			</div>
			<h2 class="absolute z-0 bottom-0 left-1/2 transform -translate-x-1/2 font-bold text-gray-700 opacity-50 tracking-widest" style="font-size: 15vw;">podcasts</h2>
		</div>
	</div>
</section>
