<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Galeto</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="bg-main-green overflow-x-hidden flex items-center justify-center h-screen">
	<h1 class="text-9xl font-semibold text-gray-600 opacity-80"><%= title %></h1>
  </body>
</html>
